.evolution-chain{

	grid-column: span 2;
	position: relative;
	text-align: center;
	padding-top: 20px;

	& > h1 {
		font-size: 3rem;
		font-weight: lighter;
		margin-bottom: 30px;
	}

	& > ul {
		list-style-type: none;
		display: flex;
		align-items: center;
		justify-content: space-around;
		width: 100%;

		& > li:not(:last-child):after{

	      content: "\227B";
	      position: absolute;
	      right: -50px;
	      top: 50%;
	      font-size: 3rem;
	      transform: translate(-50%, -50%);

	  }

	}

}
